ClimaAplicacion/ClimaAplicacion/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AccesoDatos.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AccesoDatos.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClimaBO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClimaBO" nillable="true" type="tns:ClimaBO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClimaBO" nillable="true" type="tns:ArrayOfClimaBO" />
  <xs:complexType name="ClimaBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idCiudad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCiudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="temperatura" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClimaBO" nillable="true" type="tns:ClimaBO" />
</xs:schema>